modal-outlet {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  opacity: 1;
  z-index: $z-dialog;
  transition: opacity map-get($mat-amt-duration, normal) map-get($mat-amt-function , angular);

  &.content-exists {
    opacity: 1;
    pointer-events: auto;
  }

  &.can-backdrop {
    pointer-events: auto;
  }

  .overlay-container {
    position: absolute; top: 0;
    pointer-events: none;
    height: 100%; width: 100%;
    opacity: 0;
    background-color: black;
  }
  &.overlay {
    .overlay-container {
      pointer-events: auto;
      opacity: 0.32;
      z-index: -1;
    }
  }

  > *:not(.overlay-container) {
    pointer-events: auto;
  }
}
