@font-face {
  font-family: 'Material Icon';
  font-display: block;
  font-style: normal;
  font-weight: 400;
  src: local('Material Icon'),
       local('MaterialIcons-Regular'),
       url(MaterialIcons-Regular.woff2) format('woff2'),
       url(MaterialIcons-Regular.woff) format('woff');
}
